.right .top {
    width: 340px;
    height: 340px;
    background: #4372aa;
    position: absolute;
    top: -220px;
    right: -220px;
    transform: rotate(45deg);
    z-index: 3;
    box-shadow: 0 0px 40px #4372aa;
}

.right .bottom {
    width: 460px;
    height: 460px;
    background: #7f9fc0;
    position: absolute;
    top: -280px;
    right: -280px;
    transform: rotate(45deg);
    z-index: 0;
    box-shadow: 0 0px 70px #7f9fc0;
}



.left .mid-top {
    width: 70px;
    height: 160px;
    position: absolute;
    left: -15px;
    top: 100px;
    background: #4372aa;
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 50%);
}

.left .mid-bottom {
    width: 70px;
    height: 160px;
    position: absolute;
    left: -25px;
    top: 40px;
    background: #7f9fc0;
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 50%);
}

.left .bottom {
    width: 480px;
    height: 480px;
    background-color: #7f9fc0;
    position: absolute;
    left: -290px;
    bottom: -290px;
    transform: rotate(45deg);
    z-index: 0;
    box-shadow: 0 0px 70px #7f9fc0;
}

.left .top {
    width: 350px;
    height: 350px;
    background-color: #4372aa;
    position: absolute;
    left: -230px;
    bottom: -230px;
    transform: rotate(45deg);
    z-index: 3;
    box-shadow: 0 0 40px #4372aa;
    
}


.right .logo img{
    position: absolute;
    right: 25px;
    bottom: 50px;
    width: 100px;
    padding: 5px;
}
