    .AppContainer {
        -webkit-user-select: none;
        user-select: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        background-color: var(--bg-color);
    }

    footer {
        width: 100vw;
        height: 50px;
        background-color: var(--footer-bg);
        color: #777;
        font-size: 14px;
        line-height: 50px;
        text-align: center;
    }

    @media print {
        body * {
            visibility: hidden;
        }

        .menu {
            display: none;
        }

        .container,
        .container * {
            visibility: visible;
        }

        .container {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    @page {
        margin: 0px;
    }

    